.pokemon-image {
  margin: auto;
  width: 72px;
}

.pokemon-name-input {
  width: 120px;
}

.pokemon-name-option {
  font-size: 12px;
}

.pokemon-level-input {
  width: 48px;
}

.pokemon-move-input {

}
