<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>

  </mat-sidenav>
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <a mat-icon-button routerLink="/" class="app-icon"><img width="32" alt="DPS Plus Logo" src="./assets/icon.svg"></a>
    <a mat-button routerLink="/" class="app-name mat-body-2">DPS+</a>
    <span class="toolbar-spacer"></span>
    <a mat-button href="https://github.com/jakawell/dpsplus/issues" target="_blank">Feedback</a>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>
