.page-container {
  margin: 12px 8px;
}

.page-container-xs {
  margin: 2px 8px;
}

.info-box {
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.search-type-card-xs {
  width: 100%;
  padding: 16px 8px;
}

.search-input-card {
  width: 90%;
}

.search-input-card-xs {
  width: 100%;
  padding: 16px 8px;
}

.search-input-header > h2 {
  margin: 4px 0px;
}

.search-input-header > button {
  margin: 2px 0 4px auto;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.search-input-item {
  margin: 12px;

  h2 {
    text-align: center;
  }
}

.search-input-add-button {
  width: 200px;
}

.results-container {
  margin: 2px 12px;
}

.results-container-xs {
  margin: 2px 0px;
  width: 100%;
}

.results-table {
  table-layout: auto;
  width: 100%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  text-align: left;
  border-collapse: collapse;
}

.results-table-cell {
  flex: 1 1 auto;
  overflow: visible;
  word-wrap: normal;
  padding: 0px 12px;
}

.results-table-row {
  display: table-row;
}

mat-header-cell[class^='mat-column-dpsPlus'], mat-header-cell[class*=' mat-column-dpsPlus'],
mat-cell[class^='mat-column-dpsPlus'], mat-cell[class*=' mat-column-dpsPlus'],
mat-header-cell[class^='mat-column-tank'], mat-header-cell[class*=' mat-column-tank'],
mat-cell[class^='mat-column-tank'], mat-cell[class*=' mat-column-tank']  {
  flex: 0 0 15%;
}

.attribution-card {
  width: 90%;
}

.attribution-card-xs {
  width: 100%;
  padding: 16px 8px;
}

.attribution-text {
  text-align: center;
  font-size: 8pt;
}
