.search-type-card-xs {
  width: 100%;
  padding: 16px 8px;
}

.search-input-card {
  width: 90%;
}

.search-input-card-xs {
  width: 100%;
  padding: 16px 8px;
}

.search-input-header > h2 {
  margin: 4px 0px;
}

.search-input-header > button {
  margin: 2px 0 4px auto;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.search-input-item {
  margin: 12px;

  h2 {
    text-align: center;
  }
}

.search-input-add-button {
  width: 200px;
}

.pokemon-image {
  margin: auto;
  width: 72px;
}

.pokemon-name-input {
  width: 120px;
}

.pokemon-level-input {
  width: 48px;
}

.pokemon-move-input {

}

.results-container {
  margin: 12px;
  min-width: 60%;
}

.results-container-xs {
  margin: 12px 2px;
  width: 100%;
}

.mat-table {
  overflow: auto;
}

mat-header-cell[class^='mat-column-dpsPlus'], mat-header-cell[class*=' mat-column-dpsPlus'],
mat-cell[class^='mat-column-dpsPlus'], mat-cell[class*=' mat-column-dpsPlus'],
mat-header-cell[class^='mat-column-tank'], mat-header-cell[class*=' mat-column-tank'],
mat-cell[class^='mat-column-tank'], mat-cell[class*=' mat-column-tank']  {
  flex: 0 0 15%;
}

.attribution-card {
  width: 90%;
}

.attribution-card-xs {
  width: 100%;
  padding: 16px 8px;
}

.attribution-text {
  text-align: center;
  font-size: 8pt;
}
