<div class="page-container"
     fxLayout="column"
     fxLayoutAlign="space-around center"
     fxLayoutGap="12px"
     fxLayoutGap.xs="2px">

  <mat-card ngClass.xs="search-type-card-xs">
    <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
      <h2>Search</h2>
      <mat-form-field>
        <mat-select placeholder="Search type" [(ngModel)]="selectedSearchType" name="search">
          <mat-option *ngFor="let search of searchTypes" [value]="search">
            {{ search.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card ngClass="search-input-card" ngClass.xs="search-input-card-xs">
    <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly center">

      <!-- Pokemon inputs -->
      <div *ngIf="pokemonInputs" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around center">
        <app-pokemon-input *ngFor="let input of pokemonInputs" [model]="input" (removed)="removePokemon($event)"></app-pokemon-input>

        <div class="search-input-add-button" *ngIf="maxAddablePokemon > 0" width="160px" fxLayout="column" fxLayoutAlign="space-around center">
          <button mat-fab color="primary" disabled="{{pokemonSetCount >= maxAddablePokemon}}" (click)="triggerAddPokemon()">
            <mat-icon aria-label="Add Pokémon">add_circle</mat-icon>
          </button>
          <h3>{{currentPokemonSetDef.options.addTitle}}</h3>
        </div>

        <!-- Weather inputs -->
        <div class="search-input-item" *ngFor="let input of weatherInputs">
          <h2>{{ input.name }}</h2>
          <div>
            <mat-form-field>
              <mat-select placeholder="Weather type" [(ngModel)]="input.value" name="weatherType">
                <mat-option *ngFor="let weatherType of input.weatherList" [value]="weatherType">
                  {{ weatherType }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- Type inputs -->
        <div class="search-input-item" *ngFor="let input of typeInputs">
          <h2>{{ input.name }}</h2>
          <div fxLayout="column">
            <mat-form-field>
              <mat-select placeholder="First type" [(ngModel)]="input.type1" name="type1">
                <mat-option *ngFor="let type1 of input.types" [value]="type1">
                  {{  type1 }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Second type" [(ngModel)]="input.type2" name="type2">
                <mat-option *ngFor="let type2 of input.typesWithNone" [value]="type2">
                  {{ type2 }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="runQuery()">Calculate</button>

      <!-- Results table -->
      <div class="mat-elevation-z8" ngClass="results-container" ngClass.xs="results-container-xs" *ngIf="results.length > 0">
        <mat-table #table [dataSource]="results">

          <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
            <mat-header-cell *matHeaderCellDef>{{column.display}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{massageDataCell(column.name, element[column.index])}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card ngClass="attribution-card" ngClass.xs="attribution-card-xs">
    <mat-card-content>
      <div class="attribution-text">
        <i>This project is not affiliated in any way with Niantic, Inc., The Pokémon Company, Nintendo Co. Ltd., Creatures Inc., or GAME FREAK Inc. The Pokémon names and images are copyright of their respective owners; usage here is intended as fair use.</i>
      </div>
    </mat-card-content>
  </mat-card>
</div>
