<div ngClass="page-container" ngClass.xs="page-container-xs"
     fxLayout="column"
     fxLayoutAlign="space-around center"
     fxLayoutGap="12px"
     fxLayoutGap.xs="2px">

  <div class="info-box" fxLayout="column" fxLayoutAlign="start center">
    <i>DPS+ gets the true damage of your moves!</i>
    <button type="button" mat-button routerLink="/docs"><i>Read how...</i></button>
  </div>

  <mat-card ngClass.xs="search-type-card-xs">
    <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
      <h2>Search</h2>
      <mat-form-field>
        <mat-select placeholder="Search type" [(ngModel)]="selectedSearchType" name="search">
          <mat-option *ngFor="let search of searchTypes" [value]="search" role="option">
            {{ search.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-spinner *ngIf="isLoading" [diameter]="48"></mat-spinner>

  <mat-card *ngIf="!isLoading" ngClass="search-input-card" ngClass.xs="search-input-card-xs">
    <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly center">

      <form (ngSubmit)="runQuery()" fxLayout="column" fxLayoutAlign="space-evenly center">
        <div fxLayout="row wrap" fxLayoutAlign="space-around start">
          <!-- Defender input -->
          <app-pokemon-input class="search-input-item" *ngIf="defenderInput" [id]="defenderInput.internalId" [model]="defenderInput"></app-pokemon-input>
          <!-- Type input -->
          <div *ngIf="typeInput" class="search-input-item">
            <h2>{{ typeInput.name }}</h2>
            <div fxLayout="column">
              <mat-form-field>
                <mat-select placeholder="First type" [(ngModel)]="typeInput.type1" name="type1">
                  <mat-option *ngFor="let type1 of typeInput.types" [value]="type1">
                    {{  type1 }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Second type" [(ngModel)]="typeInput.type2" name="type2">
                  <mat-option *ngFor="let type2 of typeInput.typesWithNone" [value]="type2">
                    {{ type2 }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!-- Weather input -->
          <div *ngIf="weatherInput" class="search-input-item">
            <h2>{{ weatherInput.name }}</h2>
            <div>
              <mat-form-field>
                <mat-select placeholder="Weather type" [(ngModel)]="weatherInput.value" name="weatherType">
                  <mat-option *ngFor="let weatherType of weatherInput.weatherList" [value]="weatherType" role="option">
                    {{ weatherType }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <h1>VS</h1>
        <button type="button" mat-button color="accent" (click)="calculateFromPokedex()">Select top 100 movesets from the Pokédex</button>
        <div fxLayout="row wrap" fxLayoutAlign="space-around center">
          <!-- Attacker inputs -->
          <app-pokemon-input *ngFor="let input of pokemonInputs" [id]="input.internalId" [model]="input" (removed)="removePokemon($event)"></app-pokemon-input>

          <div class="search-input-add-button" *ngIf="maxAddablePokemon > 0" fxLayout="column" fxLayoutAlign="space-around center">
            <button type="button" mat-fab color="primary" disabled="{{pokemonSetCount >= maxAddablePokemon}}" (click)="triggerAddPokemon()" aria-label="Add Pokémon">
              <mat-icon aria-label="Add Pokémon">add_circle</mat-icon>
            </button>
            <h3>{{currentPokemonSetDef.options.addTitle}}</h3>
          </div>
        </div>

        <div fxLayout="row">
          <button type="submit" mat-raised-button color="primary">Calculate</button>
          <button type="button" mat-icon-button (click)="openSettings()" aria-label="Settings">
            <mat-icon aria-label="Settings">settings</mat-icon>
          </button>
        </div>
      </form>


    </mat-card-content>
  </mat-card>

  <!-- Results table -->
  <mat-card ngClass="results-container" ngClass.xs="results-container-xs" *ngIf="results.length > 0" >
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="start center">
        <table class="mat-table results-table">
          <thead>
            <tr class="mat-header-row results-table-row">
              <th class="mat-header-cell results-table-cell line-num-col" *ngIf="appOptions.showLineNumbers">
                <i>#</i>
              </th>
              <th class="mat-header-cell results-table-cell" *ngFor="let column of columns">
                {{column.display}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="mat-row results-table-row" *ngFor="let result of results; let i = index">
              <td class="mat-cell results-table-cell line-num-col" *ngIf="appOptions.showLineNumbers">
                <i>{{i + 1}}</i>
              </td>
              <td class="mat-cell results-table-cell" *ngFor="let column of columns">
                {{massageDataCell(column.name, result[column.index])}}
              </td>
            </tr>
          </tbody>
        </table>
        <mat-table class="mat-table" #table [dataSource]="[]" style="display: none;">
          <!-- Wanna hear a funny story? Angular Material won't properly include the styling for
               for standard HTML tables (like above) unless you include a mat-table somewhere too!
               HAHAHAHAHAHAHAHAHAHH!!1!!!! Isn't that HILARIOUS!! HAHAHAHAHAHA-BWHAHAHOHOOHO0!!!
             -->
          <mat-header-row *matHeaderRowDef="[]"></mat-header-row>
          <mat-row *matRowDef="let row; columns: [];"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card ngClass="attribution-card" ngClass.xs="attribution-card-xs">
    <mat-card-content>
      <div class="attribution-text">
        <i>This project is not affiliated in any way with Niantic, Inc., The Pokémon Company, Nintendo Co. Ltd., Creatures Inc., or GAME FREAK Inc. The Pokémon names and images are copyright of their respective owners; usage here is intended as fair use.</i>
      </div>
    </mat-card-content>
  </mat-card>
</div>
