.search-input-card {
  width: 90%;
}

.search-input-item {
  margin: 12px;

  h2 {
    text-align: center;
  }
}

.pokemon-image {
  margin: auto;
  width: 72px;
}

.pokemon-name-input {
  width: 120px;
}

.pokemon-level-input {
  width: 48px;
}

.pokemon-move-input {

}

.results-container {
  margin: 12px;
  min-width: 80%;
}

.mat-table {
  overflow: auto;
}

.attribution-card {
  width: 90%;
}

.attribution-text {
  text-align: center;
  font-size: 8pt;
}
