<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content>
  <div ngClass="settings-container" fxLayout="column" fxLayoutAlign="start start">
    <div ngClass="checkbox-wrapper">
      <mat-checkbox [(ngModel)]="data.showLegacyMoves">Show legacy moves</mat-checkbox>
    </div>
    <div ngClass="checkbox-wrapper">
      <mat-checkbox [(ngModel)]="data.showEventMoves">Show event moves</mat-checkbox>
    </div>
    <div ngClass="checkbox-wrapper">
      <mat-checkbox [(ngModel)]="data.showTankiness">Show tankiness</mat-checkbox>
    </div>
    <div ngClass="checkbox-wrapper">
      <mat-checkbox [(ngModel)]="data.showLineNumbers">Show line numbers</mat-checkbox>
    </div>
    <div ngClass="checkbox-wrapper">
      <mat-checkbox [(ngModel)]="data.showPokemonLevel">Show stats (level, IVs)</mat-checkbox>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data">Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
